.navbar{
    background-color: #323256;
}
.nav-Link{
    justify-content:space-evenly;
}
header {
    width: 100%;
    min-height: min-content;
    z-index: 100;
}
@media (max-width: 768px) {
    header {
        z-index: 100;
    }
}
@media (min-width: 769px) {
    header {
        height: 80px; /* Ajusta el tamaño del encabezado para pantallas medianas a grandes según tus necesidades */
    }
}
main {
    position:absolute;
    width: 100%;
    height: auto;
    box-sizing:content-box;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: #47477c;
}
footer {
    width: 100%;
    bottom: 0;
    position:fixed;
    z-index: 100;
}
.section{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#logoTitle{
    align-items:start;
    justify-items: center;
    display:flex; 
    flex-direction: column;
    width: max-content;
}
.car-text {
    overflow: hidden; /* Oculta el exceso de texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto está truncado */
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limita el número de líneas a mostrar */
    -webkit-box-orient: vertical;
}
.car-text :hover{
    overflow-y: auto;
    display:flex;
}
.card{
    align-items:center;
    justify-content: center;
    height: auto;
}
#cardExpo{
    justify-content:space-around;

}
#imgCard{
    display:flex;
    justify-content: space-around ;
    /* align-items: end; */
}
#cardExpo movie{
    justify-content: center;
    width: auto;
    height: 40em;
    padding: 1rem;
    border:0;
    border-radius: 2px;
    margin: 1em;
    box-shadow: 1px 1px 10px rgb(0, 31, 185);
    transition: transform 0.1s ease;
    background-color: #32325656;
}

#cardExpo movie:hover{
    transform:scaleY(1.05) scaleX(1.05);
    transform-style: flat ;
    height: max-content;
}
#cardExpo img {
    margin: auto;
    margin-bottom: 1em;
    width: 170px;
    height: auto;
    padding: 0;
    justify-content: space-around;
}
#linkExt{
    justify-content: space-around;
    position:relative;
    padding-left: 20em;
}
a {
    width: max-content;
}
#txtFoot{
    width: max-content;
}

#formNew{
    width: 600px;
    justify-content: center;
    align-items: center;
}
